<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Review Hive - Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/css/fragments/header.css}"/>
<link rel="stylesheet" th:href="@{/css/common.css}"/>
<link rel="stylesheet" th:href="@{/css/questionaire.css}"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body th:object="${questionaireDto}">
	<main>
		<nav th:replace="fragments/header :: header"></nav>
		<div class="container">
			<div class="content-header">
				<span class="abbreviation" th:text="*{questionaire.abbreviation}" th:style="'background: ' + *{questionaire.hexColor} + ';'"></span>
				<a class="action-btn" th:href="@{/}">BACK</a>
			</div>
			<div class="content">
				<input type="hidden" name="questionaireIdPk" th:value="*{questionaire.id}" id="questionaireId" />
				<div class="main-content">
					<div class="questionaire-name" th:text="*{questionaire.questionaireName}"></div>
					<div class="questionaire-description" th:text="*{questionaire.description}">Description</div>
					<div class="buttons">
						<div class="button-container">
						    <button class="action-btn exam-btn" id="1" th:disabled="*{!questionaire.enableTimerFlg ? 'disabled' : null}">
						        DEMO EXAM
						    </button>
						    <p class="button-description">This exam has a timer. (100 Questions)</p>
						</div>
						<div class="button-container">
					   		 <button class="action-btn exam-btn" id="2">
						        FLASHCARDS
						    </button>
						    <p class="button-description">No timer, but tracks correct and incorrect answers.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script th:inline="javascript"> 
		console.log(/*[[${questionaireDto}]]*/'');
		
		
		document.querySelectorAll('.exam-btn').forEach(btn => btn.addEventListener('click', function(){
			const questionaireId = document.getElementById('questionaireId').value;
			window.location.href = `/questionaire/${questionaireId}?type=${this.id}`;
		}));



	</script>
</body>
</html>