<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Review Hive - Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/css/fragments/header.css}"/>
<link rel="stylesheet" th:href="@{/css/fragments/sidebar.css}"/>
<link rel="stylesheet" th:href="@{/css/common.css}"/>
<link rel="stylesheet" th:href="@{/css/admin/home.css}"/>

</head>
<body>
	<main>
		<nav th:replace="~{/fragments/header :: header}"></nav>
		<div class="container">
			<nav th:replace="~{/fragments/sidebar :: sidebarAdmin}"></nav>
			<div>
				Hello
			</div>
		</div>
	</main>
</body>
</html>